@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9859 0.0058 239.8175);
  --foreground: oklch(0.2337 0.0214 260.5447);
  --card: oklch(0.9958 0.0025 228.7829);
  --card-foreground: var(--foreground);
  --popover: oklch(0.9958 0.0025 228.7829);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.7891 0.1422 218.4482);
  --primary-foreground: oklch(0.1586 0.021 261.3497);
  --secondary: oklch(0.9591 0.0097 252.8114);
  --secondary-foreground: oklch(0.2987 0.0307 258.3335);
  --muted: oklch(0.965 0.0059 239.8198);
  --muted-foreground: oklch(0.5205 0.0206 253.4561);
  --accent: oklch(0.8989 0.0203 250.3975);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.6508 0.23 25.1276);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9156 0.0122 247.9598);
  --input: oklch(0.9156 0.0122 247.9598);
  --ring: oklch(0.7891 0.1422 218.4482);
  --chart-1: oklch(0.7891 0.1422 218.4482);
  --chart-2: oklch(0.7208 0.14 239.9195);
  --chart-3: oklch(0.6406 0.1195 264.7398);
  --chart-4: oklch(0.5603 0.0801 249.9916);
  --chart-5: oklch(0.8588 0.07 200.4591);
  --sidebar: oklch(0.9894 0.0042 236.4952);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--secondary);
  --sidebar-accent-foreground: var(--secondary-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --font-sans: Geologica, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geologica, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Geologica, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 18px;
  --shadow-spread: -6px;
  --shadow-opacity: 0.1;
  --shadow-color: #0b1020;
  --shadow-2xs: 0px 4px 18px -6px hsl(225.7143 48.8372% 8.4314% / 0.05);
  --shadow-xs: 0px 4px 18px -6px hsl(225.7143 48.8372% 8.4314% / 0.05);
  --shadow-sm:
    0px 4px 18px -6px hsl(225.7143 48.8372% 8.4314% / 0.1),
    0px 1px 2px -7px hsl(225.7143 48.8372% 8.4314% / 0.1);
  --shadow:
    0px 4px 18px -6px hsl(225.7143 48.8372% 8.4314% / 0.1),
    0px 1px 2px -7px hsl(225.7143 48.8372% 8.4314% / 0.1);
  --shadow-md:
    0px 4px 18px -6px hsl(225.7143 48.8372% 8.4314% / 0.1),
    0px 2px 4px -7px hsl(225.7143 48.8372% 8.4314% / 0.1);
  --shadow-lg:
    0px 4px 18px -6px hsl(225.7143 48.8372% 8.4314% / 0.1),
    0px 4px 6px -7px hsl(225.7143 48.8372% 8.4314% / 0.1);
  --shadow-xl:
    0px 4px 18px -6px hsl(225.7143 48.8372% 8.4314% / 0.1),
    0px 8px 10px -7px hsl(225.7143 48.8372% 8.4314% / 0.1);
  --shadow-2xl: 0px 4px 18px -6px hsl(225.7143 48.8372% 8.4314% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1786 0.0217 267.3809);
  --foreground: oklch(0.9744 0.0042 236.4963);
  --card: oklch(0.2213 0.0192 262.0898);
  --card-foreground: var(--foreground);
  --popover: oklch(0.2098 0.0209 267.6484);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.8277 0.1451 213.4829);
  --primary-foreground: oklch(0.1586 0.021 261.3497);
  --secondary: oklch(0.251 0.0186 262.156);
  --secondary-foreground: oklch(0.9654 0.0042 236.497);
  --muted: oklch(0.2351 0.0184 266.1899);
  --muted-foreground: oklch(0.7199 0.0203 248.1099);
  --accent: oklch(0.2599 0.0243 264.0141);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.672 0.2154 24.8338);
  --destructive-foreground: oklch(0.9744 0.0042 236.4963);
  --border: oklch(0.3204 0.0192 264.2564);
  --input: oklch(0.3204 0.0192 264.2564);
  --ring: oklch(0.8277 0.1451 213.4829);
  --chart-1: oklch(0.8277 0.1451 213.4829);
  --chart-2: oklch(0.7566 0.1431 237.3004);
  --chart-3: oklch(0.6803 0.1207 265.2361);
  --chart-4: oklch(0.5593 0.0598 264.8992);
  --chart-5: oklch(0.88 0.0898 205.3825);
  --sidebar: oklch(0.2048 0.0191 266.0472);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: oklch(0.251 0.0186 262.156);
  --sidebar-accent-foreground: var(--foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --font-sans: Geologica, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Geologica, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Geologica, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 30px;
  --shadow-spread: -18px;
  --shadow-opacity: 0.35;
  --shadow-color: #00d1ff;
  --shadow-2xs: 0px 0px 30px -18px hsl(190.8235 100% 50% / 0.17);
  --shadow-xs: 0px 0px 30px -18px hsl(190.8235 100% 50% / 0.17);
  --shadow-sm:
    0px 0px 30px -18px hsl(190.8235 100% 50% / 0.35),
    0px 1px 2px -19px hsl(190.8235 100% 50% / 0.35);
  --shadow:
    0px 0px 30px -18px hsl(190.8235 100% 50% / 0.35),
    0px 1px 2px -19px hsl(190.8235 100% 50% / 0.35);
  --shadow-md:
    0px 0px 30px -18px hsl(190.8235 100% 50% / 0.35),
    0px 2px 4px -19px hsl(190.8235 100% 50% / 0.35);
  --shadow-lg:
    0px 0px 30px -18px hsl(190.8235 100% 50% / 0.35),
    0px 4px 6px -19px hsl(190.8235 100% 50% / 0.35);
  --shadow-xl:
    0px 0px 30px -18px hsl(190.8235 100% 50% / 0.35),
    0px 8px 10px -19px hsl(190.8235 100% 50% / 0.35);
  --shadow-2xl: 0px 0px 30px -18px hsl(190.8235 100% 50% / 0.88);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

